.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center; 
  transform: scale(0);
}

.modal.active {
  transform: scale(1);
  z-index: 100;
}

.modal__content {
  position: relative;
  padding: 20px;
  border-radius: 12px;
  background-color: #ffffff;
  height: auto;
  width: 50vw;
  /* max-width: max-content; */
  max-height: 90vh;
  transform: scale(0.5);
  transition: 0.4s all;
  overflow: scroll;
}

.modal__content.active {
  transform: scale(1);
}

.close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 40px;
  font-weight: 600;
  right: 10px;
  top: 10px;
  color: #333333;
  opacity: 0.5;
  cursor: pointer;
}
.close:hover {
  opacity: 1;
  color: #000000;
}
@media screen and (max-width: 1050px) {
  .modal__content {
    height: auto;
    width: 80%;
    max-width: max-content;
  }
}

@media screen and (max-width: 800px) {
  .modal__content {
    height: auto;
    width: 90%;
    max-width: max-content;
    padding: 10px 5px;
  }
}
