.section_share {
  width: 100%;
  /* border: 3px solid var(--color-blue-vk); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding-top: 22px;
}

.price_info {
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px 0;
  font: var(--font-l); 
  background-color: var(--color-blue-vk); 
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.close_info {
  position: absolute;
  top: 0;
  right: 0;
  color:var(--color-white);
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
  z-index: 55;
}

.number {
  font: var(--font-l); 
  padding: 0 5px 0 10px;
}
.title {

  font: var(--font-l); 
  color: var(--color-blue-vk); 
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max-content;
}
.title span {
  margin-left: 20px;
}



.subtitle {
  font: var(--font-menu);
  color: var(--color-blue-vk);
}

.input_wrap {
  margin-bottom: 5px;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}

.input_text {
  width: 190px;
  height: 40px;
  outline: none;
  border: 1px solid #4096ff;
  border-radius: 5px;
  background-color: none;
  font: var(--font-m);
  padding: 5px;
  margin-left: 10px;
}

.input::placeholder {
  color: var(--color-gray-dark);
}

.input_file {
  margin-left: 10px;
}

.img_wrap {
  width: 100%;
  max-width: 250px;
  height: auto;
  margin-top: 10px;
 
}

.img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.preview {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
border-top: 5px solid var(--color-blue-vk);
  /* border-bottom: 5px solid var(--color-blue-vk);  */
  /* border: 5px solid var(--color-blue-vk); */
  padding: 20px 0 0 0;
}

.btn {
  margin: 20px 0;
}

