* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: auto;
  max-width: 1590px;
  margin: 0 auto;
  color: var(--font-color);
  background-color: var(--color-white);
  font: var(--font-m);
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

h1 {
  font: var(--font-xl);
  font-style: normal;
  color: var(--font-color);
}

.app {
  width: 100%;
  max-width: 1190px;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--bg-color);
  border: var(--border-main);
}

.active {
  opacity: 100%;
}



@media screen and (max-width: 650px) {

}

@media screen and (max-width: 370px) {

}
