:root {
  /*шрифты*/
  --font-family-main: 'Unboundd-Regular', Verdana, Tahoma;
  --font-family-title: 'Unbounded-Black', Verdana, Tahoma;
  --font-family-subtitle: 'Unbounded-Bold', Verdana, Tahoma;
  --font-family-upstring: 'Unbounded-Medium', Verdana, Tahoma;
  --font-family-substring: 'Unbounded-Light', Verdana, Tahoma; 
  --font-size-s: 10px;
  --font-size-m: 14px;
  --font-size-ml: 18px;
  --font-size-l: 20px;
  --font-size-xl: 28px;
  --font-line-s: 18px;
  --font-line-m: 22px;
  --font-line-l: 28px;
  --font-line-xl: 38px;
  /* Шорткат font позволяет одновременно указать значение для нескольких свойств Обязательными являются значения для свойств font-size и font-family. Остальные значения опциональны.
    Если нужно указать высоту строки, то она записывается через слэш (/) после размера шрифта. */
  --font-s: var(--font-size-s) / var(--font-line-s)
    var(--font-family-substring);
  --font-m: var(--font-size-m) / var(--font-line-m)
    var(--font-family-main);
  --font-l: var(--font-size-l) / var(--font-line-l)
    var(--font-family-upstring);
  --font-xl: var(--font-size-xl) / var(--font-line-xl)
    var(--font-family-title);
  --font-menu: var(--font-size-m) / var(--font-line-m)
    var(--font-family-title);
  --font-submenu: var(--font-size-s) / var(--font-line-s)
    var(--font-family-subtitle);

  /*цвета*/
  --color-pink: #ff89bb; 
  --color-red: #f30404;
  --color-blue-vk: #2688eb;
  --color-blue-dark: #08172D;
  --color-light-blue: #d6fcf7;
  --color-light-blue2: #acddd7;
  --color-light-gray: #fff4cc;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-yellow: #ffbd12;
  --color-gray-dark: #4e4d4d;
  --color-gray-normal: #c4c0c0;
  --color-gray-light: #e2dcdc;

  /*границы и фон*/
  --bg-color-dark: #121212;
  --bg-color-light: #ffffff; 
  --font-color-dark: #121212;
  --font-color-light: #ffffff;
  --border-dark: 1px solid #000000;
  --border-light: 1px solid #ffffff;
}
